.about {
  background-color: #1f1f1f;
  min-height: 100vh;
  position: relative;
  max-width: 600px;
  overflow: auto;
}

.about .picture {
  position: absolute;
  height: 170px;
  width: 140px;
  background-color: red;
  color: white;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.about .text-container {
  position: relative;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 15px 30px 15px;
}

.about h2 {
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
}

.about p {
  text-align: justify;
  font-size: 14.5px;
  margin-bottom: 15px;
  color: white;
}

.about ul,
.about li {
  color: white;
}

.about li {
  margin-left: 20px;
  font-size: 14.5px;
}
