.about {
  background-color: #1f1f1f;
  height: auto;
  position: relative;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .picture {
  height: 170px;
  width: 140px;
  background-color: red;
  color: white;
  margin: 120px 0 60px 0;
}

.about .text-container {
  padding: 0 15px 30px 15px;
}

.about h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: white;
}

.about p {
  text-align: justify;
  font-size: 14.5px;
  margin-bottom: 15px;
  color: white;
}

.about ul,
.about li {
  color: white;
}

.about li {
  margin-left: 20px;
  font-size: 14.5px;
}

@media (min-width: 768px) and (orientation: portrait) {
  .about p {
    font-size: 15px;
  }

  .about ul {
    font-size: 17px;
  }
  .about li {
    margin-left: 20px;
    font-size: 15px;
  }
}
