.about {
  height: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.about .picture-container {
  margin: 50px 0 50px 0;
  width: 270px;
  height: 270px;
  border-radius: 50%;
}

.about .text-container {
  padding: 0 15px 40px 15px;
}

.about * {
  color: white;
}

.about h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.birthday {
  animation: glowing 3s infinite linear;
}

.about p {
  text-align: justify;
  font-size: 14.5px;
  margin-bottom: 15px;
  line-height: 25px;
}

.about li {
  margin-left: 20px;
  font-size: 14.5px;
}

@keyframes glowing {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .about h2 {
    font-size: 22px;
  }
  .about p {
    font-size: 15px;
  }

  .about ul {
    font-size: 17px;
  }
  .about li {
    margin-left: 20px;
    font-size: 15px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .about .picture-container {
    margin: 0 0 50px 0;
  }
  .about h2 {
    font-size: 26px;
  }
  .about p {
    font-size: 16.5px;
  }
  .about ul {
    font-size: 24px;
  }
  .about li {
    margin-left: 20px;
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .about h2 {
    font-size: 26px;
  }
  .about p {
    font-size: 16.5px;
  }

  .about ul {
    font-size: 17px;
  }
  .about li {
    margin-left: 20px;
    font-size: 16.5px;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .about h2 {
    font-size: 26px;
  }
  .about p {
    font-size: 16.5px;
    line-height: 28px;
  }
  .about ul {
    font-size: 24px;
  }
  .about li {
    margin-left: 20px;
    font-size: 18px;
  }
}
