.contact-page {
  max-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 10;
}

.contact-form {
  height: 400px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form input {
  height: 50px;
  margin: 10px auto;
}

.contact-form textarea {
  height: 80px;
  margin: 10px auto;
}

.contact-form input,
textarea {
  width: 90%;
  padding: 6px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
  border-bottom: 1px solid #666;
  color: white;
  transition: 0.7s;
}

.contact-form input:focus,
textarea:focus {
  border-bottom: 1px solid white;
}

.button-container {
  width: 90%;
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.contact-buttons {
  height: 40px;
  width: 70px;
  background-color: #666;
  border: none;
  transition: 0.7s;
  font-size: 25px;
  color: #ddd;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.contact-details {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  z-index: 10;
}

.contact-details label {
  color: #666;
  display: block;
  width: 90%;
  text-align: left;
  margin: 10px auto;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: serif;
  line-height: 50px;
}

.contact-details h4 {
  display: inline-block;
  padding: 0 10px;
  color: #ddd;
  transition: 0.7s;
}

@media (min-width: 1024px) and (orientation: portrait) {
  .contact-form {
    width: 480px;
  }
  .contact-form input {
    height: 60px;
  }
  .contact-form input,
  textarea {
    margin: 20px auto;
    font-size: 20px;
  }
  .contact-buttons {
    height: 55px;
    width: 85px;
    border-radius: 50px;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  .contact-form {
    width: 480px;
  }
  .contact-form input {
    height: 60px;
  }
  .contact-form input,
  textarea {
    margin: 20px auto;
    font-size: 20px;
  }
  .contact-buttons {
    height: 55px;
    width: 85px;
    border-radius: 50px;
  }
}
@media handheld and (min-width: 1366px) and (orientation: landscape) {
  .contact-form {
    width: 480px;
  }
  .contact-form input {
    height: 60px;
  }
  .contact-form input,
  textarea {
    margin: 20px auto;
    font-size: 20px;
  }
  .contact-buttons {
    height: 55px;
    width: 85px;
    border-radius: 50px;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .contact-form {
    width: 400px;
  }
  .contact-form input {
    height: 60px;
  }
  .contact-form input,
  textarea {
    margin: 20px auto;
    font-size: 18px;
  }
  .contact-buttons {
    height: 45px;
    width: 75px;
    border-radius: 50px;
  }
  .contact-buttons:hover {
    background-color: #fff;
    animation: shake 1s infinite;
    color: #1f1f1f;
  }

  .contact-details label {
    margin: 10px 0;
  }

  .contact-details h4 {
    color: #666;
    cursor: pointer;
  }

  .contact-details h4:hover {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ddd;
    animation: shake 1s infinite;
  }
}

@media screen and (min-width: 1366px) and (orientation: landscape) {
  .contact-form {
    width: 480px;
  }
  .contact-form input {
    height: 60px;
  }
  .contact-form input,
  textarea {
    margin: 20px auto;
    font-size: 20px;
  }
  .contact-buttons {
    height: 55px;
    width: 85px;
    border-radius: 50px;
  }
  .contact-buttons:hover {
    background-color: #fff;
    animation: shake 1s infinite;
    color: #1f1f1f;
  }

  .contact-details label {
    margin: 10px 0;
  }

  .contact-details h4 {
    color: #666;
    cursor: pointer;
  }

  .contact-details h4:hover {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ddd;
    animation: shake 1s infinite;
  }
}
