.home {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
}

.home .text-container {
  position: absolute;
  display: block;
  width: 100%;
  top: 26%;
}

.home .text-container:nth-of-type(2) {
  top: 33%;
}

.home h2 {
  color: white;
  display: block;
}

.home p {
  color: white;
  font-size: 18px;
  line-height: 33px;
}

.Typewriter {
  height: 100%;
  width: 100%;
  padding-left: 25px;
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .home .text-container {
    top: 19%;
  }

  .home .text-container:nth-of-type(2) {
    top: 28%;
  }
  .home h2 {
    font-size: 33px;
  }

  .home p {
    font-size: 27px;
    line-height: 55px;
  }

  .Typewriter {
    padding-left: 130px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .home .text-container {
    top: 20%;
    left: 12%;
  }
  .home .text-container:nth-of-type(2) {
    top: 28%;
  }
  .home h2 {
    font-size: 40px;
  }

  .home p {
    font-size: 30px;
    line-height: 70px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .home .text-container {
    top: 19%;
    left: 12%;
  }
  .home .text-container:nth-of-type(2) {
    top: 33%;
  }
  .home h2 {
    font-size: 40px;
  }

  .home p {
    font-size: 30px;
    line-height: 60px;
  }
}

@media (orientation: landscape) and (min-width: 1366px) {
  .home .text-container {
    top: 19%;
    left: 15%;
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  .home .text-container {
    top: 21%;
    left: 15%;
  }
  .home .text-container:nth-of-type(2) {
    top: 33%;
  }
  .home h2 {
    font-size: 42px;
  }

  .home p {
    font-size: 33px;
    line-height: 60px;
  }
}
@media (orientation: landscape) and (min-width: 1920px) {
  .home .text-container {
    top: 21%;
    left: 22%;
  }
  .home .text-container:nth-of-type(2) {
    top: 33%;
  }
  .home h2 {
    font-size: 42px;
  }

  .home p {
    font-size: 33px;
    line-height: 60px;
  }
}
@media (orientation: landscape) and (min-width: 2560px) {
  .home .text-container {
    top: 25%;
    left: 22%;
  }
  .home .text-container:nth-of-type(2) {
    top: 33%;
  }
  .home h2 {
    font-size: 50px;
  }

  .home p {
    font-size: 38px;
    line-height: 80px;
  }
}
@media (orientation: landscape) and (min-width: 3840px) {
  .home .text-container {
    top: 29%;
    left: 22%;
  }
  .home .text-container:nth-of-type(2) {
    top: 36%;
  }
  .home h2 {
    font-size: 65px;
  }

  .home p {
    font-size: 45px;
    line-height: 95px;
  }
}
