/* Hamburger menu */
.menu-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 70%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: 0.5s;
  background-color: white;
}

.line-1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.line-2 {
  opacity: 0;
}
.line-3 {
  transform: rotate(45deg) translate(-8px, -6px);
}

/* Navbar */

.navbar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: black;
  box-shadow: 0 0 20px black;
  z-index: 100;
}

.navbar-container {
  height: 80px;
  max-width: 1400px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 100%;
  left: -100%;
  transition: 0.5s;
  opacity: 0;
  border-right: 5px black;
  box-shadow: inset 0 0 5px black;
  z-index: 100;
  background-color: #1f1f1f;
}

.nav-menu.active {
  left: 0;
  top: 100%;
  opacity: 1;
  height: calc(100vh - 80px);
  z-index: 100;
}

.navbar ul {
  text-decoration: none;
}

.navbar li {
  list-style: none;
  display: block;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.li-item {
  font-size: 30px;
  text-decoration: none;
  height: 100%;
  display: block;
  padding: 30px;
  font-weight: 700;
  color: white;
}

@media (min-width: 1366px) and (orientation: landscape) {
  .menu-icon {
    opacity: 0;
    height: 0;
    width: 0;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .navbar-container {
    margin-left: 500px;
  }
  .nav-menu {
    flex-direction: row;
    position: relative;
    top: auto;
    left: auto;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: black;
    box-shadow: none;
  }
  .nav-menu.active {
    left: 0;
    top: 0;
    opacity: 1;
    height: 80px;
    width: auto;
  }
  .li-item {
    font-size: 20px;
    text-decoration: none;
    width: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-weight: 700;
    color: white;
    margin: 0 50px;
    height: 80px;
    transition: 0.5s;
  }

  .li-item:hover {
    transform: translateY(-10px);
  }

  .nav-menu li {
    cursor: auto;
  }

  .li-item.active {
    border-bottom: 2px solid white;
  }

  .li-item.active:hover {
    transform: none;
  }
}
